button:disabled {
  background-color: gray;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #387df4;
}

input {
  width: 500px;
  height: 2.5rem;
  background-color: #fcfcfc;
  color: #000000;
  outline: none;
  border: 0.5px solid #387df4;
  border-radius: 0.2rem;
  margin-bottom: 1.2rem;
}
